/* All Pages */

input:focus {
    outline: none;
    border: 2px solid #0066CC !important;
}

textarea:focus {
    outline: none;
    border: 2px solid #0066CC !important;
}

.btn-cus-sty {
    background-color: #0066CC;
    transition: 0.2s background-color ease-in-out;
}

.btn-cus-sty:hover {
    background-color: #1E90FF !important;

}

/* Loader */

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    transition: opacity 0.3s ease;
}

.loader {
    width: 120px;
    height: 120px;
    border: 5px solid #000000;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 105px;
    height: 105px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-bottom-color: #0066CC;
}

@-webkit-keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}





/*** Navbar ***/

#header a {
    font-family: Arial, Helvetica, sans-serif;

}

.no-scroll {
    overflow: hidden;
}

.fixed-top {
    transition: .5s;
}

/* Product Dropdown */

/* .product-item:hover .dropdown-product{
    display: block !important;
} */


.dropdown-product {
    position: absolute;
    /* border: 3px solid red; */

    /* display: none; */

    /* changed */
    display: block;
    top: 8.5%;
    left: 24%;
}

.dropdown-product h5, small {
    font-family: Arial, Helvetica, sans-serif;

}


@media screen and (max-width:1400px) {
    .dropdown-product {
        position: absolute;
        left: 18%;

    }
}

@media screen and (max-width:1280px) {
    .dropdown-product {
        display: none !important;
    }
}

.product-dd-it {
    transition: 0.5s all ease;
    border-radius: 8px;
}

.product-dd-it:hover {
    display: block;
    background-color: #0066CC;
    color: #fff !important;
}

.about-product-hov-box-d-1-res,
.about-product-hov-box-d-2-res {

    display: none;


    /* display: block; */
}

.about-product-hov-box-d-1,
.about-product-hov-box-d-2 {
    display: none;
}

.show-box {
    display: block;
}

/* .product-dropmenu-res {
    height: 200px !important;
    top: calc(100% - 40%) !important;
}

@media screen and (max-height:700px) {
    .product-dropmenu-res {
        top: calc(100% - 40%) !important;
    }

} */



.product-dropmenu-res {
    height: 205px !important;
    top: 56% !important;
}


@media screen and (min-height:1000px) {
    .product-dropmenu-res {
        top: 65% !important;
    }
}

@media screen and (min-height:1200px) {
    .product-dropmenu-res {
        top: 75% !important;
    }
}

@media screen and (max-height:850px) {
    .product-dropmenu-res {
        top: 54% !important;
    }
}

@media screen and (max-height:750px) {
    .product-dropmenu-res {
        top: 50% !important;
    }
}

@media screen and (max-height:650px) {
    .product-dropmenu-res {
        top: 46% !important;
    }
}

@media screen and (max-height:600px) {
    .product-dropmenu-res {
        top: 42% !important;
    }
}

@media screen and (max-height:550px) {
    .product-dropmenu-res {
        top: 38% !important;
    }
}


















.dropdown {
    position: static;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-item {
    position: relative;
}

.navbar-item:hover .dropdown-menu {
    display: block;
}

.dropdown-menu .dropdown-item {
    text-decoration: none;
    color: #333;
    display: block;
    white-space: nowrap;
}

.top-bar {
    height: 45px;
    border-bottom: 1px solid rgba(53, 94, 252, .07);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    padding: 25px 15px;
    color: var(--tertiary);
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (min-width: 1280px) {

    .product-container,
    .product-container-lg,
    .product-container-md,
    .product-container-sm,
    .product-container-xl,
    .product-container-xxl {
        max-width: 800px;
    }
}

@media screen and (max-width: 320px) {
    .nav-img {
        width: 70% !important;
    }

}

@media (max-width: 991.98px) {

    .navbar .navbar-nav {
        margin-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.7);
        background: #FFFFFF;
    }

    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
    }

}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

@media screen and (max-width:1400px) {
    .nav-img {
        width: 80% !important;
    }
}


/*** Header ***/
/* 
.carousel-item::before {
    content: "";
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
  } */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.829);
    /* Adjust the last parameter for the opacity of the black overlay */
}


.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 3rem;
}

/* .carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    border: 10px solid var(--primary);
} */

.carousel-control-prev-icon {
    border-radius: 0 3rem 3rem 0;
}

.carousel-control-next-icon {
    border-radius: 3rem 0 0 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .overlay {
        background-color: rgba(255, 255, 255, 0.829);
        /* Adjust the last parameter for the opacity of the black overlay */
    }
}



/* =====================navbar sticky=============================== */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    opacity: 1;
    animation: fadeIn 0.5s ease;
    /* Apply the fadeIn animation */
}

.fixed-top.active {
    opacity: 1;
}

.nav-btn {
    background-color: #0066CC !important;
    border: 0;
    color: white;
    border-radius: 20px;
    padding: 14px 10px;
    font-weight: 600 !important;
    transition: 0.3s background-color ease;
    bottom: 70px;
    left: 12%;
}





.nav-btn:hover {
    background-color: #1e8fffa8 !important;
    color: black;
}

.nav-btn:hover>i {
    color: black !important;
}


.navbar ul li a:hover {
    color: grey !important;
}

.header-navbar {
    color: black !important;
    z-index: 997;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 0px;
    box-shadow: 0 2px 25px -5px rgba(0, 0, 0, 0.16), 0 25px 21px -5px rgba(0, 0, 0, 0.1) !important;
    background-color: rgba(255, 255, 255, 1);
    transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
}

.header-navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


.navbar a:focus {
    color: black;
}

@media screen and (max-width:768px) {
    .header-navbar.scrolled {
        position: fixed;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: none;
    }
}

.navbar ul li a {
    color: rgb(0, 0, 0);
}



/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 1280px) {
    .navbar {
        padding: 0;
    }

    .navbar ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
    }

    .navbar li {
        /* position: relative; */
    }

    .navbar>ul>li {
        white-space: nowrap;
        padding: 10px 0 10px 28px;
    }

    .navbar a,
    .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3px;
        font-family: var(--font-primary);
        font-size: 14px;
        color: black;
        white-space: nowrap;
        transition: 0.3s;
        position: relative;
    }

    .navbar a i,
    .navbar a:focus i {
        line-height: 0;
        margin-left: 5px;
    }

    .navbar>ul>li>a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -6px;
        left: 0;
        background-color: #ffffff;
        visibility: hidden;
        width: 0px;
        transition: all 0.3s ease-in-out 0s;
    }

    .navbar a:hover:before,
    .navbar li:hover>a:before,
    .navbar .active:before {
        visibility: visible;
        width: 100%;
    }

    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
        /* color: var(--primary); */
    }

    .navbar .dropdown ul {
        display: block;
        position: absolute;
        left: 28px;
        top: calc(100% + 30px);
        margin: 0;
        padding: 10px 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.25);
        transition: 0.3s;
    }

    .navbar .dropdown ul li {
        min-width: 200px;
    }

    .navbar .dropdown ul a {
        /* padding: 10px 20px; */
        font-size: 15px;
        text-transform: none;
        color: #555555;
        font-weight: 400;
    }

    .navbar .dropdown ul a i {
        font-size: 12px;
    }

    .navbar .dropdown ul a:hover,
    .navbar .dropdown ul .active:hover,
    .navbar .dropdown ul li:hover>a {
        color: var(--color-primary);
    }

    .navbar .dropdown:hover>ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .navbar .dropdown .dropdown ul {
        top: 0;
        left: calc(100% - 30px);
        visibility: hidden;
    }

    .navbar .dropdown .dropdown:hover>ul {
        opacity: 1;
        top: 0;
        left: 100%;
        visibility: visible;
    }

    .dropdown-pos-cus-sty {
        /* position: absolute; */
        /* left: -250% !important; */
    }
}

@media (min-width: 1280px) and (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

@media (min-width: 1280px) {

    .mobile-nav-show,
    .mobile-nav-hide {
        display: none;
    }
}

.navbar-img {
    width: 200px;
}


/* Mobile-specific styles */
@media (max-width: 1279px) {

    .nav-link:focus {
        color: black !important;
    }

    .dropdown-menu {
        position: static;
        transform: none;
        box-shadow: none;
    }

    .navbar {
        position: fixed;
        top: 0;
        height: 100vh;
        right: -100%;
        width: 100%;
        /* max-width: 400px; */
        bottom: 0;
        transition: 0.3s;
        z-index: 9997;
    }

    .navbar ul {
        /* position: absolute;
        inset: 0;
        padding: 50px 0 10px 0;
        margin: 0;
        background: rgba(255, 255, 255);
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        transition: 0.3s;
        z-index: 9998; */


        position: absolute;
        inset: 0;
        padding: 50px 0 10px 0;
        margin: 0;
        background: rgba(255, 255, 255);
        height: auto;
        overflow-y: auto;
        overflow-x: hidden;
        transition: 0.3s;
        z-index: 9998;
    }

    /* .get-started-btn-wrapper {
        position: absolute;
        bottom: 3%;
        width: 90%;
        text-align: center;
        z-index: 9999;
    } */


    .navbar a,
    .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        font-family: var(--font-primary);
        font-size: 15px;
        font-weight: 500;
        color: white;
        white-space: nowrap;
        text-transform: uppercase;
        transition: 0.3s;
    }

    .navbar a i,
    .navbar a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
    }

    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
        color: #fff;
    }

    .navbar .dropdown ul,
    .navbar .dropdown .dropdown ul {
        /* display: none; */
        padding: 10px 0;
        /* margin: 10px 20px; */
        margin: 14px 20px 0px 20px;
        transition: all 0.5s ease-in-out;
        overflow: hidden;
        /* visibility: hidden; */


        /* change */
        visibility: visible;
        display: block;
    }

    .dropdown-pos-cus-sty .dropdown-item>div>div>h6 {
        font-size: 14px !important;
    }

    .dropdown-pos-cus-sty .dropdown-item>div>div>p {
        font-size: 10px !important;
    }

    .navbar .dropdown:hover ul,
    .navbar .dropdown .dropdown:hover ul {
        visibility: visible;
        position: relative;
        display: block;
    }

    .navbar .dropdown>.dropdown-active,
    .navbar .dropdown .dropdown>.dropdown-active {
        display: block;
    }

    .mobile-nav-show {
        position: relative;
        color: rgb(0, 0, 0);
        font-size: 28px;
        cursor: pointer;
        line-height: 0;
        transition: 0.5s;
        z-index: 9999;
        padding-right: 10px;
        /* top: -15px; */
    }

    .bi-x {
        top: -18px !important;
        left: 4px;
        border: #0066CC 3px solid;
        border-radius: 26px;
        width: max-content;
        padding: 2px;
    }

    .mobile-nav-hide {
        color: #000000;
        font-size: 32px;
        cursor: pointer;
        line-height: 0;
        transition: 0.5s;
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 9999;
    }

    .mobile-nav-active {
        overflow: hidden;
        overflow-y: hidden !important;
    }

    .mobile-nav-active .navbar {
        right: 0;
    }

    .mobile-nav-active .navbar:before {
        content: "";
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 9996;
    }



    .nav-btn {
        background-color: #0066CC !important;
        border: 0;
        color: white;
        border-radius: 20px;
        padding: 14px 10px;
        font-weight: 600 !important;
        transition: 0.3s background-color ease;
    }

    .nav-btn:hover {
        background-color: #1e8fffa8 !important;
        color: black;
    }

    .nav-btn:hover>i {
        color: black !important;
    }
}

@media screen and (max-width:768px) {
    .navbar-img {
        width: 70%;
    }
}


/* Sections For Landing Page */

.sec-1-land {
    height: 80vh;
}

.sec-1-land-top-frame-circle-img-1 {
    position: absolute;
    top: 0;
    z-index: -1;
}

.sec-1-land-top-frame-circle-img-2 {
    position: absolute;
    top: 0;
    left: 10%;
    width: 900px !important;
    z-index: -1;
}

.sec-2-land {
    background-color: #CCE6FF90;
    padding: 60px 0px;
}

.sec-2-land>div>div {
    height: 30vh;
}

.three-step-boxes {
    background-color: white;
    height: auto !important;
    color: black !important;
    transition: 0.5s all ease;
}

.three-step-boxes:hover {
    background-color: #0066CC !important;
    color: white !important;
}

.three-step-boxes>p {
    display: none;
    transition: 0.5s display ease;
}

.three-step-boxes:hover>p {
    display: block;
}


.box-arrow-flow-img-l-to-r {
    position: absolute;
    top: 42%;
    right: -28%;
    z-index: 99;
    width: 105px !important;

}

.box-arrow-flow-img-t-to-b {
    position: absolute;
    bottom: -97%;
    right: 50%;
    z-index: 99;
    width: 14px !important;
}

.three-step-boxes:hover .box-arrow-flow-img-t-to-b {
    position: absolute;
    bottom: -55%;
    right: 50%;
    z-index: 99;
    width: 14px !important;
}

.sec-3-boxes-offer-cuv-sty-top,
.sec-3-boxes-offer-cuv-sty-bottom {
    background-color: #CCE6FF90;
    height: 300px;
    border-radius: 60px 60px 0px 60px;
    padding: 60px 60px;
    transition: all 0.9s ease;
    position: relative;
    overflow: hidden;
}

.sec-3-boxes-offer-cuv-sty-bottom {
    background-color: #CCE6FF90;
    height: 300px;
    border-radius: 0px 60px 60px 60px;
    padding: 60px 60px;
    transition: all 0.9s ease;
    position: relative;
    overflow: hidden;
}

.box {
    position: relative;
    margin: 15px 0px;
    width: 100%;
}

.box:after,
.box:before {
    z-index: 13;
    content: ' ';
    position: absolute;
    top: 0;
    width: 0px;
    height: 100%;
    background-color: #c0deff;
    transition: all 0.7s ease;
}

.box-right:after,
.box-right:before {
    right: 0;
}

.box-left:after,
.box-left:before {
    left: 0;
}

.box:before {
    z-index: 12;
    background-color: #292e31;
}

.box .position {
    z-index: 15;
    position: relative;
}

.box .position .title {
    font-weight: bold;
    font-size: 1.8em;
    color: #2b2c33;
    transition: all 1s ease;
}

.box:hover:after {
    width: 100%;
    transition: all 0.7s ease;
    transition-delay: 0.1s;
}

.box:hover:before {
    width: 100%;
    transition: all 0.6s ease;
}

.box:hover .position .title {
    transition: all 0.4s ease;
}

.btn-box-sty-hov-cuv {
    padding: 0.3em 0.7em;
    border: 0;
    color: #fff;
    font-weight: bold;
    font-size: 1.3em;
    cursor: pointer;
    transition: all 0.7s ease;
    background-color: #0066CC;
}

.btn-box-sty-hov-cuv:hover {
    background-color: #1E90FF;
}



.sec-3-boxes-offer-cuv-sty-top:hover,
.sec-3-boxes-offer-cuv-sty-bottom:hover {
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.325);
    transform: scale(1.03) rotateX(10deg) rotateY(10deg);
}


@keyframes slightMove {
    0% {
        transform: translateX(0) translateY(0);
    }

    50% {
        transform: translateX(-5px) translateY(5px);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

.animated-move {
    animation: slightMove 3s ease-in-out infinite;
}

@media screen and (max-width:768px) {

    .sec-3-boxes-offer-cuv-sty-top,
    .sec-3-boxes-offer-cuv-sty-bottom {
        height: auto !important;
        padding: 20px !important;

    }
}

/* Testimonials */


#customers-testimonials .item-details {
    color: #fff;
    padding: 20px 0px;
    text-align: left;
}

#customers-testimonials .item-details h5 {
    margin: 0 0 15px;
    font-size: 18px;
    line-height: 18px;
}

#customers-testimonials .item-details h5 span {
    color: rgb(0, 0, 0);
    float: right;
    padding-right: 20px;
}

#customers-testimonials .item-details p {
    color: rgb(0, 0, 0);
    font-size: 14px;
}

#customers-testimonials .item-details p span {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#customers-testimonials .item {
    text-align: center;
    margin-bottom: 80px;
}

.owl-carousel .owl-nav [class*=owl-] {
    transition: all 0.3s ease;
}

.owl-carousel .owl-nav [class*=owl-].disabled:hover {
    background-color: #D6D6D6;
}

.owl-carousel {
    position: relative;
}

.owl-carousel .owl-next,
.owl-carousel .owl-prev {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 28%;
    font-size: 20px;
    color: #000000;
}

.owl-carousel .owl-prev {
    left: -70px;
}

.owl-carousel .owl-next {
    right: -90px;
}


/* Partners Carousel */


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 100px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    display: flex;
    /* width: calc(300px * 8); */
    width: calc(430px * 8);
    animation: scroll 10s linear infinite;
}

.slider .slide {
    width: 100%;
}


/* Bubble Animation */


.bubble {
    position: relative;
    animation: bubbleAnimation 12s infinite ease-in-out;
}

@keyframes bubbleAnimation {
    0% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(calc(10px - var(--randX) * 20px), calc(-5px + var(--randY) * 10px));
    }

    20% {
        transform: translate(calc(-7.5px + var(--randX) * 15px), calc(12.5px - var(--randY) * 25px));
    }

    30% {
        transform: translate(calc(5px - var(--randX) * 10px), calc(-10px + var(--randY) * 20px));
    }

    40% {
        transform: translate(calc(-12.5px + var(--randX) * 25px), calc(5px - var(--randY) * 10px));
    }

    50% {
        transform: translate(calc(7.5px - var(--randX) * 15px), calc(-7.5px + var(--randY) * 15px));
    }

    60% {
        transform: translate(calc(-5px + var(--randX) * 10px), calc(10px - var(--randY) * 20px));
    }

    70% {
        transform: translate(calc(12.5px - var(--randX) * 25px), calc(-5px + var(--randY) * 10px));
    }

    80% {
        transform: translate(calc(-10px + var(--randX) * 20px), calc(7.5px - var(--randY) * 15px));
    }

    90% {
        transform: translate(calc(5px - var(--randX) * 10px), calc(-12.5px + var(--randY) * 25px));
    }

    100% {
        transform: translate(0, 0);
    }
}

@media screen and (max-width:1280px) {
    .sec-1-land {
        height: 80vh !important;
        /* margin-bottom: 20px !important; */
    }

    .sec-2-land {
        background-color: #CCE6FF90;
        padding: 0px !important;
    }

    .sec-2-land>div>div {
        padding: 0px !important;
        margin: 0px !important;
        /* height: 25vh !important; */
    }
}


@media screen and (max-height:600px) {
    .sec-2-land {
        background-color: #CCE6FF90;
        padding: 0px !important;
        height: 100vh !important;
    }

    .sec-2-land>div>div {
        padding: 0px !important;
        margin: 0px !important;
        height: 100vh !important;
    }
}

@media screen and (max-width:990px) {

    .sec-1-land {
        height: 50vh !important;
        margin-top: 40px;
    }

    .sec-1-land-top-frame-circle-img-3 {
        position: absolute;
        top: 0;
        right: 0%;
        z-index: -1;
        width: 200px !important;
    }

    .sec-1-land-top-frame-circle-img-4 {
        position: absolute;
        top: 0;
        left: 0%;
        z-index: -1;
        width: 200px !important;
    }

    .sec-2-land {
        background-color: #CCE6FF90;
        /* height: 80vh; */
        height: max-content;
    }

    .sec-2-land>div>div {
        /* height: 80vh; */
        height: max-content;
        padding-top: 30px !important;
    }

    .sec-3-boxes-offer-cuv-sty-top {
        background-color: #CCE6FF90;
        height: auto;
        border-radius: 10px;
        padding: 40px 20px;
    }

    .sec-3-boxes-offer-cuv-sty-bottom {
        background-color: #CCE6FF90;
        height: auto;
        border-radius: 10px;
        padding: 40px 20px;
    }

    .owl-carousel .owl-prev {
        left: -20px;
    }

    .owl-carousel .owl-next {
        right: -20px;
    }

}


@media screen and (max-width:1201px) {
    .box-arrow-flow-img-l-to-r {
        position: absolute;
        top: 50%;
        right: -42% !important;
        z-index: 99;
        width: 105px !important;
    }

}

@media screen and (max-width:1401px) {
    .box-arrow-flow-img-l-to-r {
        position: absolute;
        top: 50%;
        right: -33%;
        z-index: 99;
        width: 105px !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .sec-3-boxes-offer-cuv-sty-top {
        background-color: #CCE6FF90;
        height: 33vh;
        border-radius: 60px 60px 0px 60px;
        padding: 40px 20px;
    }

    .sec-3-boxes-offer-cuv-sty-bottom {
        background-color: #CCE6FF90;
        height: 33vh;
        border-radius: 60px 60px 0px 60px;
        padding: 40px 20px;
    }
}


/* Key Differenctiation */

.listar-map-button {
    width: 100%;
    position: absolute;
    display: table;
    right: 0;
    top: 0;
    height: 200px;
    line-height: 164px;
    white-space: nowrap;
    font-size: 0;
}

.listar-map-button {
    right: auto;
    /***
      box-shadow: 0 0 65px rgba(0,0,0,.07) inset, 0 0 35px rgba(0,0,0,.05) inset;**/
}

.listar-map-button-text span {
    background-color: #fff;
    color: #252525;
    text-shadow: none;
}

.listar-page-header-content .listar-map-button-text span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    height: 44px;
    line-height: 1.6;
    padding: 10px 25px;
    box-shadow: 0 0 300px rgba(0, 0, 0, 0.65), 0 0 30px rgba(0, 0, 0, 0.06);
    border-radius: 50px;
    background-color: rgba(35, 40, 45, 0.9);
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.listar-feature-item-wrapper {
    margin-bottom: 120px;
    /* padding-left: 27px; */
    /* padding-right: 27px; */
}

.listar-feature-item {
    height: calc(100% - 20px);
}

.listar-feature-item.listar-feature-has-link~.listar-feature-fix-bottom-padding.listar-fix-feature-arrow-button-height {
    position: relative;
    display: block;
    width: 100%;
    height: 30px;
}

.listar-feature-item a {
    position: absolute;
    top: -12px;
    left: 15px;
    width: calc(100% - 30px);
    height: calc(100% + 4px);
    border-radius: 1000px;
    z-index: 10;
}

.listar-feature-with-image .listar-feature-item a:before {
    content: "";
    position: absolute;
    top: -74px;
    left: 50%;
    margin-left: -74px;
    width: 148px;
    height: 148px;
    border-radius: 1000px;
    z-index: 10;
}

.listar-feature-item a:after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    border-radius: 1000px;
    z-index: 10;
    animation: ripple 0.7s linear infinite;
    box-shadow: 5px 5px 10px rgba(163, 177, 198, 0.6),
        -5px -5px 10px rgba(255, 255, 255, 0.5);
}


@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(163, 177, 198, 0.3), 0 0 0 1em rgba(163, 177, 198, 0.3), 0 0 0 3em rgba(163, 177, 198, 0.03), 0 0 0 5em rgba(163, 177, 198, 0.01);
    }

    100% {
        box-shadow: 0 0 0 1em rgba(163, 177, 198, 0.3), 0 0 0 3em rgba(163, 177, 198, 0.03), 0 0 0 5em rgba(163, 177, 198, 0.03), 0 0 0 8em rgba(163, 177, 198, 0.01);
    }
}



.listar-feature-item .listar-feature-item-inner,
.listar-feature-item-inner-opp-res {
    padding: 50px 30px;
    border-radius: 6px;
    z-index: 5;
    position: relative;
    height: 100%;
}

.listar-feature-item .listar-feature-item-inner,
.listar-feature-item-inner-opp-res {
    padding-top: 60px;
    padding-bottom: 60px;
}

.listar-feature-item .listar-feature-item-inner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 1000px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 100%);
    box-shadow: 10px 1px 0px #258bd5, 10px 1px 0px #258bd5;
}

.listar-feature-item .listar-feature-item-inner-opp-res:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 1000px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 100%);
    box-shadow: 10px 1px 0px #258bd5, 10px 1px 0px #258bd5;
}

@media screen and (max-width:768px) {

    .listar-feature-item .listar-feature-item-inner-opp-res:before {
        box-shadow: -10px -1px 0px #258bd5, -10px -1px 0px #258bd5 !important;
    }

}


.listar-feature-item .listar-feature-item-inner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* .listar-feature-right-border {
    position: absolute;
    width: calc(100% + 24px);
    height: calc(100% + 24px);
    top: -12px;
    left: 50%;
    overflow: hidden;
  }
   */
.listar-feature-items {
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* .listar-feature-right-border:before,
  .listar-hovering-features .listar-feature-item a:hover~.listar-feature-item-inner .listar-feature-right-border:before {
    border: 11px solid #2f53bf;
  }
  
  .listar-feature-right-border:before,
  .listar-hovering-features .listar-feature-item a:hover~.listar-feature-item-inner .listar-feature-right-border:before,
  .listar-hovering-features-grey .listar-feature-item a:hover~.listar-feature-item-inner .listar-feature-right-border:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 11px solid #258bd5;
    border-radius: 800px;
    left: -50%;
  } */


.listar-feature-item .listar-feature-block-content-wrapper {
    position: relative;
    display: block;
    text-decoration: none;
    margin: -30px;
    padding: 30px;
    height: calc(100% + 100px);
}

.listar-features-design-2 .listar-feature-item-wrapper {
    margin-bottom: 120px;
    padding-left: 27px;
    padding-right: 27px;
}

.listar-feature-item.listar-feature-has-link .listar-feature-item-inner:after,
.listar-feature-item-inner-opp-res:after {
    content: "";
    background-color: #fff;
    z-index: 6;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
}

.listar-feature-icon-wrapper {
    width: 148px;
    height: 148px;
    line-height: 148px;
    border-radius: 500px;
    position: relative;
    background-color: #fff;
    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.06);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 50%;
    vertical-align: middle;
    margin-left: -74px;
    top: -66px;
    margin-top: -74px;
}

.listar-feature-icon-inner {
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 500px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.14);
    background: #fff;
}

.listar-feature-icon-inner div {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: left;
}

.listar-feature-icon-inner img {
    position: relative;
    margin: 0 auto;
    vertical-align: middle;
    display: inline-block;
    width: auto;
    left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
    height: 55px;
}

.listar-feature-item img,
.listar-feature-item i {
    position: relative;
    display: inline-block;
    border-bottom: 0;
    font-size: 40px;
    top: 0;
    padding: 0;
    color: #258bd5;
}

.listar-feature-with-image .listar-feature-content-wrapper {
    top: 0;
}

.listar-feature-content-wrapper {
    position: relative;
    margin-top: -15.5px;
}

.listar-feature-item .listar-feature-item-title {
    padding-top: 0;
    margin: 0 0 30px;
    text-align: center;
    line-height: 1.5;
}

.listar-feature-item .listar-feature-item-title.listar-feature-counter-added>span {
    margin-left: 25px;
    border-radius: 0 50px 50px 0;
}

.listar-feature-item .listar-feature-item-title>span {
    box-shadow: 15px 20px 30px rgba(80, 80, 80, 0.12),
        5px 0px 40px rgba(80, 80, 80, 0.1);
    padding: 10px 20px;
    display: inline-block;
    position: relative;
    background-color: #fff;
}

.listar-feature-item .listar-feature-item-title>span span {
    box-shadow: 15px 15px 30px rgba(80, 80, 80, 0.2),
        5px 0px 80px rgba(80, 80, 80, 0.15);
    padding: 10px 0;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 30px;
    white-space: nowrap;
    position: absolute;
    top: -3px;
    left: -40px;
    border-radius: 50px;
    background-color: #fff;
}

.listar-feature-item .listar-feature-item-title span {
    display: inline-block;
    font-size: 14px;
    line-height: normal;
    font-weight: 400;
    text-shadow: none;
    border-radius: 50px;
    color: #252525;
    font-size: 18px;
}

.listar-feature-item-excerpt {
    padding: 0 20px;
}

.listar-feature-item-excerpt {
    color: #252525;
    position: relative;
    top: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.pset {
    padding-top: 180px;
    padding-bottom: 80px;
}

@media screen and (max-width:768px) {
    .pset {
        padding-top: 110px;
        padding-bottom: 0px;
    }
}


.listar-map-button-text span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    height: 44px;
    line-height: 1.6;
    padding: 10px 25px;
    box-shadow: 0 0 31px rgba(0, 0, 0, 0.65), 0 0 4px rgba(0, 0, 0, 0.06);
    border-radius: 50px;
    background-color: rgba(35, 40, 45, 0.9);
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.listar-map-button-text span {
    background-color: #fff;
    color: #252525;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.listar-map-button-text span:after {
    border: 12px solid #fff;
}

.listar-map-button-text span:after {
    content: "";
    position: absolute;
    top: -14px;
    left: -14px;
    width: calc(100% + 28px);
    height: calc(100% + 28px);
    border-radius: 36px;
}

.listar-map-button:hover .listar-map-button-text span {
    padding: 10px 43px 10px 51px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.listar-feature-with-image .listar-feature-item a:before {
    content: "";
    position: absolute;
    top: -74px;
    left: 50%;
    margin-left: -74px;
    width: 148px;
    height: 148px;
    border-radius: 1000px;
    z-index: 10;
}

.listar-feature-item.listar-feature-has-link .listar-feature-item-inner:after,
.listar-feature-item-inner-opp-res:after {
    margin-left: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 10px 10px 40px rgba(80, 80, 80, 0.15),
        15px 15px 30px rgba(80, 80, 80, 0.05), 0 0 120px rgba(80, 80, 80, 0.6);
    bottom: -30px;
    background-size: 40%;
    color: #555;
    line-height: 52px;
}

.shadow-effect img {
    transition: all 0.4s ease;
}

.shadow-effect img:hover {
    transform: scale(1.05);
}

/* Sections For Register & SignIn Page */


.regStatusImg {
    opacity: 0.6;
    transition: 0.6s opacity ease;
}

.divider {
    width: 100%;
    text-align: center;
    border-top: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.divider span {
    background: #fff;
    padding: 0 10px;
    font-size: 1rem;
}

@media screen and (max-width:1280px) {

    #step1,
    #step2,
    #step3,
    #step4,
    #step5 {
        width: 13% !important;
    }
}

@media screen and (max-width:990px) {
    .reg>img {
        width: 300px;
    }

    .ind-reg>img {
        width: 300px;
    }

    .signIn>img {
        width: 300px;
    }

    .img-logo {
        width: 20% !important;
    }

    #step1,
    #step2,
    #step3,
    #step4,
    #step5 {
        width: 25% !important;
    }
}

@media screen and (max-width:468px) {
    .reg>img {
        width: 200px;
    }

    .ind-reg>img {
        width: 200px;
    }

    .signIn>img {
        width: 200px;
    }

    .img-logo {
        width: 40% !important;
    }

    #step1,
    #step2,
    #step3,
    #step4,
    #step5 {
        width: 30% !important;
    }
}

@media screen and (max-width:320px) {
    .reg>img {
        width: 120px;
    }

    .ind-reg>img {
        width: 120px;
    }

    .signIn>img {
        width: 120px;
    }

    .img-logo {
        width: 50% !important;
    }

    #step1,
    #step2,
    #step3,
    #step4,
    #step5 {
        width: 50% !important;
    }
}


/* Career */


.sec-1-career {
    background-image: url("../images/Join\ us.png");
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.sec-1-career .row {
    height: 70vh;
}

.clk-shade-box-sty {
    border: 0;
    border-radius: 6px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.159);
}

.pagination {
    --bs-pagination-bg: #cce6ffc4 !important;
    --bs-pagination-color: #000000 !important;
}

.page-item:nth-child(2) {
    --bs-pagination-color: #3399FF !important;
}

.page-item:last-child {
    --bs-pagination-color: #0066CC !important;
}

.scroll-wrapper {
    margin: 0px 12px;
    border-top: 1px solid #2b95ff80;
    border-bottom: 1px solid #2b95ff80;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.scroll-wrapper::-webkit-scrollbar {
    display: none;
}

.product-scroll-wrapper {
    margin: 0px 12px;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.product-scroll-wrapper::-webkit-scrollbar {
    display: none;
}

.item {
    min-width: calc(100% / 3);
    flex: 1 0 auto;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.product-item-drag-flex {
    /* min-width: calc(100% / 2); */
    flex: 1 0 auto;
    margin: 5px;
    text-align: center;
}

/* Add styles for active link background */
.active-link {
    background-color: #0066CC !important;
    color: #fff !important;
}

/* Show dropdown product */
.dropdown-product.show-box {
    display: block;
}


/* Single Career Page */


.sec-1-s-career {
    background-image: url("../images/Join\ us.png");
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sec-1-s-career>div>div {
    height: 50vh;

}

.job-apply-shadow-box {
    box-shadow: 0px 5px 20px #55acee59;
}

.flex-icon-txt-container {
    display: flex;
    align-items: center;
}


/* Blog Page */


.sec-1-blog {
    background-color: #CCE6FF80;
    height: 42vh;
}

.sec-1-blog>div>div {
    height: 42vh;
}

.zoom-blog-img {
    transition: 0.3s all ease;
}

.zoom-blog-img:hover {
    transform: scale(1.03);
}


/* Team Page */


.team-member,
.team-member-main {
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.404);
    border-radius: 20px;
    padding: 20px;
    transition: 0.3s all ease;
}

.team-member {
    height: 300px;
}

.team-member-main {
    height: 400px;
}

.team-member img,
.team-member-main img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.team-member h5,
.team-member-main h5 {
    color: #0066CC;
}

.team-member:hover h5,
.team-member-main:hover h5 {
    color: #fff;
}

.team-member p,
.team-member-main p {
    font-size: 14px;
}

.team-member h6,
.team-member-main h6 {
    display: none;
}

.team-member-main:hover {
    height: 550px;
    background-color: #0066ccd3;
    color: white;
}

.team-member:hover {
    height: 450px;
    background-color: #0066ccd3;
    color: white;

}

.team-member:hover h6,
.team-member-main:hover h6 {
    display: block;
}

@media screen and (max-width:768px) {
    .team-member {
        height: 300px !important;
    }

    .team-member-main {
        height: 400px;
    }

    .team-member-main:hover {
        height: 600px;
    }

    .team-member:hover {
        height: 400px !important;

    }


    /* ===============extra=============== */

    .listar-feature-last-mob {
        margin-bottom: 40px !important;
    }

    .product-item-drag-flex {
        /* min-width: calc(100% / 2); */
        width: max-content !important;
        flex: 0 0 auto;
        margin: 5px;
        text-align: center;
    }

    .product-item-drag-flex h6 {
        width: max-content;
    }

    .product-item-drag-flex a {
        width: max-content;
        padding: 6px 35px !important;
        font-size: 13px;
    }
}

@media screen and (max-width:1400px) {
    .team-member {
        height: 330px;
    }

    .team-member-main {
        height: 430px;
    }

    .team-member-main:hover {
        height: 600px;
    }

    .team-member:hover {
        height: 500px;

    }
}

/* Error Page */


.hit-the-floor {
    color: #0066CC;
    font-size: 12em;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow:
        0 1px 0 #000000,
        0 2px 0 #000000,
        0 3px 0 #000000,
        0 4px 0 #000000,
        0 5px 0 #000000,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
}

.btn-err {
    border: 1px solid #0066CC;
    border-radius: 6px;
    padding: 5px 10px;
    transition: 0.5s background-color ease;
}

.btn-err:hover a {
    color: rgb(255, 255, 255);
}

.btn-err:hover {
    background-color: #0066CC;
}

/* BackToTop Button */


#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #0066CC;
    color: white;
    cursor: pointer;
    padding: 8px 15px 12px 15px;
    border-radius: 50px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

#backToTopBtn:hover {
    background-color: #007BFF;
}


/* Footer */


.footer-box {
    background-color: #3399FF !important;
    height: 28vh;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    position: relative;
}

footer>div>div {
    position: relative;
}

footer img {
    position: relative;
    right: 8px;
    z-index: 1 !important;
}

.figure-box-wave {
    position: relative !important;
    z-index: -99 !important;
    margin: 0px;
}

.figure-box-wave>div {
    margin: 0px;

}

.figure-box-wave>div>img {
    position: absolute !important;
    bottom: -3px !important;
    z-index: -99 !important;

}

.footer-img {
    width: 180px;
}

.footer-wave-bottom-box-bg-color {
    padding-top: 150px;
    padding-bottom: 50px;
    background-color: #0066CC;
}

.footer-input-box-sty {
    background-color: #cce6ff90;
    border-radius: 10px 0px 0px 10px;

}

.footer-btn-sty {
    border: none;
    background-color: #3399FF;
    border-radius: 0px 10px 10px 0px;
    position: relative;
    right: 10px !important;
    bottom: 0.5px;
    padding: 8px 15px !important;
    transition: 0.5s background-color ease;
}

.footer-btn-sty:hover {
    background-color: #2b83db;
}

@media screen and (max-width:480px) {
    .footer-eclipse-circle-positioned-sty {
        width: 110px !important;
    }
}

@media screen and (max-width:990px) {
    .footer-box {
        width: 100% !important;
        border-radius: 20px 20px 0px 0px;
    }

    .footer-img {
        width: 180px;
    }

    .footer-wave-bottom-box-bg-color {
        padding-top: 50px;
    }

    .footer-eclipse-circle-positioned-sty {
        width: 120px;
    }

}

@media screen and (max-width:1400px) {
    .footer-eclipse-circle-positioned-sty {
        width: 150px;
    }

}










/* .show-box {
    display: block;
}

.product-container {
    display: none;
}

.product-container.show-box {
    display: block;
} */

















/* New Code */

@media screen and (max-width:1280px) and (min-height:1200px) {
    /* .sec-1-land {
        height: 50vh !important;
    }

    .sec-1-land>div>div {
        height: 55vh !important;
    }

    .sec-2-land {
        background-color: #CCE6FF90;
        padding: 0px !important;
        height: 20vh !important;
    } */

    /* .sec-2-land>div>div {
        padding: 0px !important;
        margin: 0px !important;
        height: 23vh !important;
    } */

}




@media screen and (max-width:1280px) {
    /* .sec-2-land {
        background-color: #CCE6FF90;
        padding: 0px !important;
    }

    .sec-2-land>div>div {
        padding: 0px !important;
        margin: 0px !important;
    } */
}


@media screen and (max-height:1280px) {

    /* .sec-2-land {
        background-color: #CCE6FF90;
        padding: 0px !important;
        height: 60vh !important;
    } */

    /* .sec-2-land>div>div {
        padding: 0px !important;
        margin: 0px !important;
        height: 60vh !important;
    } */
}

/* New Code */


/* New Code */

@media screen and (max-width:1280px) and (min-height:1200px) {
    .pset {
        padding-top: 110px;
        padding-bottom: 20px;
    }
}

/* New Code */



/* New Code */

@media screen and (min-width:1000px) and (max-width:1200px) {

    .owl-carousel .owl-prev {
        left: 10px;
        font-size: 30px;

    }

    .owl-carousel .owl-next {
        right: -10px;
        font-size: 30px;

    }

}

/* New Code */



.nav-list-button {
    display: none !important;
    align-items: center;
}


@media screen and (max-width:1280px) {
    .nav-list-button {
        display: flex !important; 
    }

}




/* For IPAD MINI */

@media screen and (min-width:767px) and (min-height:1000px) {

    .sec-2-land {
        background-color: #CCE6FF90;
        padding: 0px !important;
        height: 60vh !important;
    }

    .sec-2-land>div>div {
        padding: 0px !important;
        margin: 0px !important;
        height: 60vh !important;
    }

    .sec-1-land {
        height: 45vh !important;
        margin-top: 0px !important;
    }

}


/* For IPAD AIR */

@media screen and (min-width:800px) and (min-height:1100px) {

    .sec-2-land {
        background-color: #CCE6FF90;
        padding: 0px !important;
        height: 50vh !important;
    }

    .sec-2-land>div>div {
        padding: 0px !important;
        margin: 0px !important;
        height: 53vh !important;
    }

    .sec-1-land {
        height: 38vh !important;
        margin-top: 0px !important;
    }

    .sec-1-land>div>div {
        height: 60vh !important;
    }

}


/* For IPAD PRO */

@media screen and (min-width:1000px) and (min-height:1300px) {

    .sec-2-land {
        background-color: #CCE6FF90;
        padding: 0px !important;
        height: 20vh !important;
    }

    .sec-2-land>div>div {
        padding: 0px !important;
        margin: 0px !important;
        height: 23vh !important;
    }

    .sec-1-land {
        height: 45vh !important;
        margin-top: 0px !important;
    }

    .sec-1-land>div>div {
        height: 50vh !important;
    }

}



@media screen and (max-width:990px) and (max-height:990px) {

    .sec-1-land {
        height: 45vh !important;
        margin-top: 0px !important;
    }

}